*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



.faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    POSITION: absolute;
    TOP: 29%;
    LEFT: 34%;
  }
  
  .faq-list {
    margin-top: 20px;
  }
  
  .faq-item {
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    cursor: pointer;
  }
  
  .faq-question {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .faq-toggle {
    width: 12px;
    height: 12px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
    transition: transform 0.3s;
  }
  
  .faq-answer {
    padding: 0 15px 15px 15px;
    display: none;
  }
  
  .faq-item.open {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .faq-item.open .faq-answer {
    display: block;
  }
  
  .faq-item.open .faq-toggle {
    transform: rotate(-135deg);
  }
  